body, html {
    margin: 0;
    padding: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	max-width: 800px;
}

header {	
    display: flex;
    justify-content: center;
	align-items:center;
}

#nextButton {
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s ease;
}

#nextButton:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

.gallery {
    width: 100vh;
    height: 20px;
    overflow: hidden;
    position: relative;
}

.gallery img {
    width: 100vh;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.gallery img.active {
    opacity: 1;
}
.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.button-container button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}