/* Global Styles */
@font-face {
    font-family: 'Kopub Batang';
    src: url("../font/KoPubWorld Batang_Pro Medium.otf") format('opentype'),
		 url("../font/KoPubWorld Batang Medium.ttf") format('truetype'),
		 url("../font/KoPubWorld Batang-Medium.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}
body, html {
	margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    overflow-x:hidden;
    background-color: #eefaff;
	background-image: url("../image/Global-image/header.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.screen {
	width: 100vw;
	height:100vh;
	margin: 0 auto;
}
#screen1 {
	display:flex;
    justify-content: center;
	background-image: url("../image/Global-image/배경4.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    align-items: center;
}

.subpage{
	position: relative;
    width: 90%;
    height: 100%;
	margin:0 auto;
    flex-wrap: wrap;
	animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
    display:none;
}

header {
    display: flex;
	margin: 0 auto;
}

main{
	margin: 0 auto;
	font-family: 'Kopub Batang';
	font-weight: lighter;
	word-break: keep-all;
}

#nextButton {
	background-image: url("../image/아이콘1.png");
	background-repeat: no-repeat;
	background-size:100%;
	width: 250px;
	height: 250px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s ease;
	opacity: 0.8;
}

#nextButton:hover {
    transform: scale(1.1);
    transition: transform 0.3s, box-shadow 0.3s;
	opacity:1;
}

#menuButton {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    color:white;
}
/* 버튼 스타일 및 배치 */
.button-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}
.button-container button {
	user-select : none;
    position: absolute;
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kopub Batang', sans-serif;
    margin: 5px;
}
.button-container button:hover {
    transform: scale(1.1);
    transition: transform 0.3s, text-shadow 0.3s;
    text-shadow: 0 0 10px rgba(0, 11, 128, 0.8);
}
#noticeButton,
#worldButton,
#guideButton,
#systemButton,
#battleButton,
#memberButton{
    aspect-ratio: 1 / 1; /* 정사각형 비율 설정 */	
    border-radius: 50%;
    width: 85px;
}
#noticeButton{
    aspect-ratio:2/1;
	background: radial-gradient( circle, #000B80, rgba(0, 0, 0, 0) 55%);
}
#worldButton{
    aspect-ratio: 360 / 115;
	width:200px;
	background-image:url("../image/Global-image/botton.png");
	background-size: 100%;
	background-repeat: no-repeat;
	align-items:bottom;
}
#mainButton{
	top: -5%;
    width: 25%;
	background-image: url("../image/Global-image/logo2.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	user-select : none;
    aspect-ratio: 1030 / 615; /* 정사각형 비율 설정 */	
}

#noticeButton {
    top: 0;
    left: 8%;
}

#worldButton {
    top: 25%;
    left: 18%;
}

#guideButton {
    top: 50%;
    left: 30%;
}

#systemButton {
    top: 50%;
    right: 30%;
}

#battleButton {
    top: 25%;
    right: 18%;
}

#memberButton {
    top: 0;
    right: 8%;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: black;
    color: white;
    padding-top: 60px;
    z-index: 999;
    transition: left 0.3s ease;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateX(-100%);
}

.menu ul li:hover {
    transform: scale(1.5);
    background-color: rgba(255, 255, 255, 0.1);
}

.menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
	font-family: 'Kopub Batang', sans-serif;
}
.ThemeSong-Player {
    position: fixed;
	bottom: 2%;
    left: 2%;
    display: inline-block;
    width: 30px;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Kopub Batang', sans-serif;
}

.ThemeSong-Player button {
    user-select: none;
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    color: #000B80;
	opacity: 0.2;
}
.ThemeSong-Player button:hover {
	opacity: 1;
	transition: opacity 0.5s ease;
}

#volumeControl {
    position: absolute;
	top: 30%;
    left: -100px;
    transform: translateY(50%);
    width: 100px;
    height: 5px;
    background: linear-gradient(to right, #00C9E9 0%, #00C9E9 100%);
    border-radius: 8px;
    outline: none;
    transition: opacity 0.5s ease, visibility 1s ease, left 0.5s ease, background 450ms ease-in;
    -webkit-appearance: none;
    accent-color: #000B80;
    opacity: 0;
    visibility: hidden;
}

.ThemeSong-Player:hover #volumeControl {
    opacity: 1;
    visibility: visible;
    left: 50px;
}


/*슬라이더*/
.slider {
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.gallery {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    transition: transform 1s ease-in-out;
	color: #00ddff;
	text-align:center;
}

.gallery li {
    flex-shrink: 0;
    width: 100%;
    height: 20px;
    opacity: 1;
	background-color:#000;
}

footer{
	color:#CCC;
	text-align:center;
	font-size:12px;
	font-family: 'Kopub Batang', sans-serif;
}

@media (max-width: 767px){
	header {
        min-width: 320px;        
        height: 10em;
        margin-top: 30px;
    }
	#screen2{
		padding-top:50px;
	}
	#screen2 main{
	}
	
	#section-all{
		background-size: 100%;
		background-repeat: no-repeat;
	}
	#nextButton{
		width:150px;
		height:150px;
	}

    .gallery {
        width: 100%;
        height: 20px;
    }
	.menu {
		width:100%;
	}

    .button-container {
        display: flex;
		height: 50%;
    }
	
	#noticeButton,
	#worldButton,
	#guideButton,
	#systemButton,
	#battleButton,
	#memberButton{
		display:none;	
	}
	#mainButton{ 
		width:35%;
	}
	
	#GeneralAccount{
		width:75px;
	}
	.mob-scrollup{
		position: relative;
		width:100%;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	#scrollToTop {
		position: absolute;
		user-select : none;
		border: none;
		background-color: transparent;
		font-size: 20px;
		cursor: pointer;
		color: #fff;
		transition: transform 0.3s, box-shadow 0.3s;
		font-family: 'Kopub Batang', sans-serif;
		bottom:15px;
	}
	#scrollToTop:hover {
		transform: scale(1.5);
	}
	#volumeControl{
	opacity:1;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	header {
        max-width: 991px;
        height: 230px;
    }
	#screen2 main{
		max-width: 1200px;
		width:90%;
	}
    .gallery {
        max-width: 1200px;
        height: 20px;
    }

    .button-container {
        display: flex;
    }
	#scrollToTop{
		display:none;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	header {
        max-width: 1100px;
        height: 230px;
    }
	#screen2 main{
		max-width: 1200px;
		width:90%;
	}
    .gallery {
        max-width: 1200px;
        height: 20px;
    }

    .button-container {
        display: flex;
    }
	#scrollToTop{
		display:none;
	}
}

@media (min-width: 1200px) {
	header {
        max-width: 1200px;
        height: 250px;
    }
	#screen2 main{
		max-width: 1200px;
		width:90%;
	}
    .gallery {
        max-width: 1200px;
        height: 20px;
    }
    .button-container {
        display: flex;
    }
	
	#scrollToTop{
		display:none;
	}
}