@font-face {
    font-family: 'Kopub Batang';
    src: url("../font/KoPubWorld Batang_Pro Medium.otf") format('opentype'),
		 url("../font/KoPubWorld Batang Medium.ttf") format('truetype'),
		 url("../font/KoPubWorld Batang-Medium.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}
#memberPage{
}

#password-container {
    text-align: center;
    background-color: transparent;
    padding: 20px;
	border:none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
#password-container.show {
    opacity: 1;
    transform: translateY(0);
}

#password {
    padding: 10px;
    margin: 10px 0;
    border: transparent;
    background-color: transparent;
    width: 50%;
    box-sizing: border-box;
	text-align:center;
}
#password:focus {
    outline: none;
    border: none;
}

#protect-button {
    padding: 10px 20px;
    border: none;
    background-color: #FFFFFF;
    color: #333;
    cursor: pointer;
}

#protect-button:hover {
	color: #fff;
    background-color: #0056b3;
}

#error-message {
    color: red;
    display: none;
    margin-top: 10px;
}

#protected-content {
    display: none;
	animation: fadeInUp 1s ease forwards;
}

@media (max-width: 767px){
	#memberPage{
		margin-bottom:90%;
	}
}